.body-content{
  background: linear-gradient(to top left, #0c1015, #243650); // define o gradiente de baixo para cima
  min-height: 100vh;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
