<div class="body-content">
  <app-card [title]="'Despesa'" [subtitle]="''">
    <div class="row mb-3">
      <div class="col-md-4">
        <app-data-component label="Data Início"></app-data-component>
      </div>
      <div class="col-md-4">
        <app-data-component label="Data Final"></app-data-component>
      </div>

      <div class="col-md-4">
        <app-number-component label="Numero"></app-number-component>
      </div>
    </div>

    <div class="row mb-3 dropdown-content">
      <div class="col-md-4">
        <label>Status</label>
        <app-select-component [options]="statusOptions"></app-select-component>
      </div>

      <div class="col-md-4">
        <label> Colaborador</label>
        <app-input-component></app-input-component>
      </div>
    </div>
    <div class="mb-4"></div>

    <div>
      <app-button-component
        tipoBotao="primary"
        textoBotao="novo"
        (click)="openNovo()"
        class="button1 mb-4"
        [routerLink]="['nova-despesa']"
        routerLinkActive="router-link-active"
        >Pesquisar</app-button-component
      >
    </div>
    <div class="mb-4"></div>

    <app-table
      [columns]="[
        { header: 'Número', key: 'numero' },
        { header: 'Data Início', key: 'dataInicio' },
        { header: 'Colaborador', key: 'colaborador' },
        { header: 'Valor', key: 'valor' },
        { header: 'Cliente/Projeto', key: 'clienteProjeto' },
        { header: 'Centro de Custo', key: 'centroCusto' }
      ]"
      [tableData]="tableData"
      [showEditButton]="showEdit"
      [showDeleteButton]="showDelete"
      [showViewButton]="showView"
      [editButtonTitle]="editButtonTitle"
      [deleteButtonTitle]="deleteButtonTitle"
      [viewButtonTitle]="viewButtonTitle"
    >
    </app-table>

    <div>
      <app-button-component
        tipoBotao="primary"
        textoBotao="novo"
        (click)="openNovo()"
        class="button1 mb-4"
        [routerLink]="['nova-despesa']"
        routerLinkActive="router-link-active"
        >Adicionar</app-button-component
      >
    </div>
  </app-card>
</div>
