<div class="body-content">
  <app-card [title]="'Livros'">
    <div class="row mb-3">
      <div class="col-md-4">
        <label>Nome</label>
        <app-input-component></app-input-component>
      </div>
      <div class="col-md-4">
        <label>Status</label>
        <app-select-component [options]="statusOptions"></app-select-component>
      </div>
      <div class="col-md-4">
        <label>Autor</label>
        <app-input-component></app-input-component>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <label>Editora</label>
        <app-input-component></app-input-component>
      </div>
      <div class="col-md-4">
        <label>Edição</label>
        <app-input-component></app-input-component>
      </div>
    </div>
    <app-table
      [columns]="[
        'Nome',
        'Autor',
        'Editora',
        'Edição',
        'Status',
      ]"
      [tableData]="tableData">
    </app-table>
  </app-card>
</div>
<!-- 
<div class="body-content">
  <app-card [title]="'Despesa'" >
    <div class="row mb-3">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>

      <div class="col-md-4">
      </div>
    </div>

    <div class="row mb-3 dropdown-content">
      <div class="col-md-4">
   
      </div>

      <div class="col-md-4">
     
      </div>
    </div>
    <div class="mb-4">

    </div>
</app-card>
</div>
-->
