<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand" href="#"><img  class="img-logo" src="assets/pderp-logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item dropdown opcoes-menu">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administração de Acesso</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Alterar Senha</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown opcoes-menu">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Financeiro</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Despesas</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown opcoes-menu">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pagamentos</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Adiantamentos</a></li>
            <li><a class="dropdown-item" href="#">Empréstimos</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown opcoes-menu">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Relatórios</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Aniversários</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown opcoes-menu">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Colaboradores</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Aniversários</a></li>
            <li><a class="dropdown-item" href="#">Manutenção Colaboradores</a></li>
            <li><a class="dropdown-item" href="#">Férias</a></li>
            <li><a class="dropdown-item" href="#">Holerites</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown opcoes-menu">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Biblioteca</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Livro</a></li>
            <li><a class="dropdown-item" href="#">CD</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
