.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none; 
  position: absolute;
}

.navbar {
  background-color: #0B0E13 !important;
}

.navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-nav .nav-link:hover {
  color: #f8f9fa;
}

.dropdown-menu {
  background-color: #243650;
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-item:hover {
  background-color: #F4BC1D;
}

.opcoes-menu:hover{
  background-color: #243650;
}

.img-logo{
  max-width: 100px;
}
