<nav class="sidebar bg-light">
  <ul class="nav flex-column">

    <li class="nav-item item-img">
      <a class=" active" [routerLink]="['/pderp/inicio']">
        <img src="assets/images/pderp-logo.png" class="img-fluid img-inicio" alt="...">
      </a>
    </li>

    <div class="risco"></div>

    <li class="nav-item submenu">
      <a class="nav-link">
        Administração de Acesso
      </a>
      <ul class="dropdown">
        <li><a [routerLink]="['/pderp/acesso/senha']" class="nav-link">Alterar Senha</a></li>
      </ul>
    </li>

    <li class="nav-item submenu">
      <a class="nav-link">
        Financeiro
      </a>
      <ul class="dropdown">
        <li><a [routerLink]="['/pderp/financeiro/despesas']" class="nav-link">Despesas</a></li>
      </ul>
    </li>

    <li class="nav-item submenu">
      <a class="nav-link">
        Pagamentos
      </a>
      <ul class="dropdown">
        <li><a [routerLink]="['/pderp/pagamentos/adiantamentos']" class="nav-link">Adiantamentos</a></li>
        <li><a href="#" class="nav-link">Empréstimos</a></li>
      </ul>
    </li>

    <li class="nav-item submenu">
      <a class="nav-link">
        Relatórios
      </a>
      <ul class="dropdown">
        <li><a [routerLink]="['/pderp/relatorios/aniversarios']" class="nav-link">Aniversários</a></li>
      </ul>
    </li>

    <li class="nav-item submenu">
      <a class="nav-link">
        Colaboradores
      </a>
      <ul class="dropdown">
        <li><a href="#" class="nav-link">Aniversários</a></li>
        <li><a href="#" class="nav-link">Manutenção Colaboradores</a></li>
        <li><a href="#" class="nav-link">Férias</a></li>
        <li><a href="#" class="nav-link">Holerites</a></li>
      </ul>
    </li>

    <li class="nav-item submenu">
      <a class="nav-link">
        Biblioteca
      </a>
      <ul class="dropdown">
        <li><a href="#" class="nav-link">Livros</a></li>
        <li><a href="#" class="nav-link">CD</a></li>
      </ul>
    </li>


  </ul>
</nav>
