.pagination-wrapper {
  display: flex;
  justify-content: flex-end;

  .form-group {
    margin-right: 0.5rem;
  }

  @media (max-width: 576px) {
    align-items: center;
    flex-direction: column;

    .form-group {
      margin: 1rem;
    }
  }
}
