<div class="table-responsive">
  <table class="table  table-striped">
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column }}</th>
        <!--<th>Ações</th> <!-- Coluna para botões --> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData" class="hover-row">
        <td *ngFor="let column of columns">{{ row[column] }}</td>
      </tr>  
      <tr *ngIf="tableData.length === 0">
        <td [attr.colspan]="columns.length + 1">Sem registros...</td>
      </tr>
    </tbody>
  </table>
</div>
