<div class="body-content">
  <app-card>
    <ul class="nav nav-tabs simple-modern-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"
          >Dados Pessoais</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dados financeiros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Idiomas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Dados financeiros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Idiomas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cargos Pretendidos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Emprego anteriores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Conhecimento específicos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pesquisar colaboradores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Escolaridade</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mini-Currículo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Certificações</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Anexar currículo</a>
      </li>
    </ul>
  </app-card>
</div>
