/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  background-image: url('/assets/images/background.png');
  background-size: cover; 
  background-repeat: no-repeat;
  padding: 0 20px;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.left-side-menu {
  background: linear-gradient(to top, #0b0f18, #2b374d) no-repeat center;
  background-size: cover;
  border-radius: 10px 0 0 10px;
  position: relative;
}

img {
  position: absolute;
  height: 35%;
  margin: -15%;
}

.row{
  width:  900px;
  height:550px;
  border-radius: 10px;
  background: #fff;
  padding: 2px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}

.message{
  position:absolute;
  font-weight:bold;
  text-align: justify;
  top: 30%;
  transform: translate(0%, -50%);

  p {
    color: #fff;
    font-size: 16px;
  }

  i {
    font-weight: 400;
    font-size: 15px;
  }
}

.message_banner{
  position:relative;
  font-weight:lighter;
  top: 50%;
  left: -35px;
  z-index: 1;

  p {
    background-color: #243650;
    padding: 5px;
    color: #fff;
    font-size: 36px;
    font-family: 'Vollkorn', serif;
  }

  i {
    font-weight: 400;
    font-size: 15px;
  }
}
.message_banner::before{
  content: "";
  position: absolute;
  top: -15%;                /* Ajusta a posição vertical */
  left: -5%;               /* Ajusta a posição horizontal */
  width: 20%;             /* Largura do quadrado */
  height: 60%;            /* Altura do quadrado */
  background-color: #f4bc1d; /* Cor do quadrado */
  z-index: -1;             /* Coloca o quadrado atrás do texto */
}

.message_banner2{
  position:relative;
  font-weight:lighter;
  left: -10px;
  top: 50%;
  z-index: 1;

  p {
    color: #fff;
    font-size: 36px;
    font-family: 'Vollkorn', serif;
  }

  i {
    font-weight: 400;
    font-size: 15px;
  }
}

.message_banner,
.message_banner2{
  margin: -10px 0;
}


.right{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input-box {
  width: 500px;
  box-sizing: border-box;

  header {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
  }
}

.input-field{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
}

.input {
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: #40414a;
  margin-bottom: 40px;
}
.input-box .input-field label{
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: .5s;
}
.input-field input:focus ~ label
{
  top: -10px;
  font-size: 13px;
}
.input-field input:valid ~ label
{
  top: -10px;
  font-size: 13px;
  color: #5d5076;
}
.input-field .input:focus, .input-field .input:valid{
  border-bottom: 1px solid #743ae1;
}

.submit {
  border: none;
  outline: none;
  height: 45px;
  background: #f4bc1d;
  border-radius: 5px;
  transition: .4s;
  margin-top: 10px;
}

.submit:hover {
  background: rgb(43, 55, 77);
  color: #fff;
}

// default screen
@media only screen and (min-width: 768px) {
  img {
    position: absolute;
    top: 10%;
  }}

// mobile screen
@media only screen and (max-width: 768px) {
  .left-side-menu {
    margin-bottom: -20px;
    border-radius: 10px 10px 0 0;
  }

  img {
    position: absolute;
    width: auto; /* Ajuste o valor conforme necessário */
    height: 150px;
    top: 75px;
  }

  .message {
    display: none;
  }

  .message_banner {
    display: none;
  }

  .input-box {

    header {
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 30px;
    }
  }

  .submit {
    margin-bottom: 25px;
  }
  
    .row{
    padding: 0px;
  }
}
