<div class="wrapper">
  <div class="container main">
    <div class="row">
      <div class="col-md-6 left-side-menu d-flex flex-column align-items-center">
        <img src="assets/images/logo-pd-erp.png" alt="">
        
        <div class="message">
          <p class="message_subtitle">Solução | Gestão | Inovação</p>
        </div>
        <div class="message_banner">
          <p>Mais de 30 anos<br></p>
        </div>
        <div class="message_banner2">
          <p>de grandes projetos</p>
        </div>
      </div>

      <div class="col-md-6 right">
        <div class="input-box">
          <header>Faça seu Login</header>

          <div class="input-field">
            <input type="text" class="input" id="email" required="" autocomplete="off">
            <label for="email">E-mail</label>
          </div>

          <div class="input-field">
            <input type="password" class="input" id="pass" required="">
            <label for="pass">Senha</label>
          </div>

          <div class="input-field">
            <input type="submit" class="submit" value="Entrar">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
