<app-header></app-header>
<div class="body-content">
  <div class="content">

    <h4>Emprestimos</h4>

    <div class="form-container">
      <div class="btn">
        <app-button-component tipoBotao="warning" textoBotao="Novo" (click)="openModal()"></app-button-component>
      </div>

      <app-modal-form [isVisible]="isModalVisible" [title]="'Novo Emprestimo'" [closeButtonText]="'Cancelar'"
        [confirmButtonText]="'Salvar'" (confirm)="onModalConfirm()" (closeEvent)="closeModal()">
        <div modal-body>

          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label">Tipo de pagamento:</label>
              <app-select-component [listaRender]="PagamentosOptions" (seleciona)="selecionaTipoDePagamento($event)"
                name="tipoDePagamento"></app-select-component>
            </div>

            <div class="col-md-6">
              <label class="form-label">Nº de Parcelas:</label>
              <app-select-component [listaRender]="parcelaOptions" (seleciona)=" selecionaParcela($event)"
                name="parcela"></app-select-component>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label class="form-label">Motivo:</label>
              <app-select-component [listaRender]="motivoOptions" (seleciona)=" selecionaParcela($event)"
                name="motivo"></app-select-component>
            </div>

            <div class="col-md-6">
              <label for="valor" class="form-label">Valor Total (R$):</label>
              <app-input-component typeInput="number" idInput="valor" nameInput="valor"></app-input-component>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Descrição:</label>
            <app-textarea-component idInput="descricao" nameInput="descricao"></app-textarea-component>
          </div>

        </div>
      </app-modal-form>

      <div class="tabela">
        <div class="mb-3">
          <label class="form-label">Lista:</label>
          <app-table-component [headers]="['Nº de parcelas', 'Valor total R$', 'Status']"
            [chaves]="['nParcelas', 'valorTotal', 'status']" [dados]="dadosTabelaEmprestimo"></app-table-component>
        </div>
      </div>

      <div class="fixed-footer">
        <app-button-component tipoBotao="info" textoBotao="Visualizar" class="me-2"></app-button-component>
        <app-button-component tipoBotao="primary" textoBotao="Imprimir"></app-button-component>
      </div>

      <div class="tabela">
        <div class="mb-3">
          <label class="form-label">Detalhamento parcelas emprestimos:</label>
          <app-table-component [headers]="['Parcela', 'Valor R$', 'Mês/Ano referência','Status']"
            [chaves]="['parcela', 'valor', 'mesAnoRef','status']"
            [dados]="dadosTabelaDetalhamento"></app-table-component>
        </div>
      </div>
    </div>
  </div>
</div>