.btn{    
    padding-left: 25px;
    padding-top: 30px;
    margin-bottom: -15px;
}

.tabela{
  margin-left: 25px;
  margin-top: 25px;
}

.lista,
.detalhamento{
    font-size: 60px;
}

#lista,
#detalhamento {
  font-size: 1.5em;
  font-weight: bold;
}

.fixed-footer {
  position: relative;
  top: 0px;
  left: 25px;
}