.form-container {
  background-color: #ffffff0d;
  border-radius: 20px 20px;
  box-shadow: 0 4px 8px #0000001a;
  backdrop-filter: blur(10px);
  padding-bottom: 100px;

  .tabela{
    margin-left: 25px;
  }

  .fixed-footer {
    position: relative;
    top: 0px;
    left: 25px;
  }
}
