<app-header></app-header>
<div class="body-content">
  <div class="content">
    <h4>Despesas</h4>
    <div class="form-container">
      <form class="p-4 mb-4">
        <div class="row mb-3">

          <div class="col-md-4">
            <app-data-component [label]="'Data inicial:'" [(selectedDate)]="selectedDate"
              (selectedDateChange)="handleDateChange($event)">
            </app-data-component>
          </div>

          <div class="col-md-4">
            <app-data-component [label]="'Data final:'" [(selectedDate)]="selectedDate"
              (selectedDateChange)="handleDateChange($event)">
            </app-data-component>
          </div>

          <div class="col-md-4">
            <app-number-component
            [placeholder]="''"
          ></app-number-component>

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label">Status:</label>
            <app-select-component [listaRender]="statusOptions" (seleciona)="selecionaStatus($event)"
              name="status"></app-select-component>
          </div>


          <div class="col-md-4">
            <label class="form-label">Colaborador:</label>
            <app-input-component typeInput="text"></app-input-component>
          </div>
        </div>

        <app-button-component tipoBotao="warning" textoBotao="Pesquisar"></app-button-component>
      </form>

      <div class="tabela">
        <div class="mb-3">
          <label class="form-label">Lista:</label>
          <app-table-component
            [headers]="['Número', 'Data Inicial', 'Colaborador', 'Cliente - Projeto', 'Centro de custo', 'Status']"
            [chaves]="['numero', 'datainicial', 'colaborador', 'clienteProjeto', 'centroCusto','status']"
            [dados]="dadosTabela"></app-table-component>
        </div>
      </div>


      <div class="fixed-footer">
        <app-button-component tipoBotao="info" textoBotao="Visualizar" class="me-2"></app-button-component>
        <app-button-component tipoBotao="primary" textoBotao="Imprimir" class="me-2"></app-button-component>
        <app-button-component
        tipoBotao="primary"
        textoBotao="Novo"
        (click)="openNovo()"
        [routerLink]="['novo']"
        routerLinkActive="router-link-active"
      ></app-button-component>
