.table-responsive {
  position: relative;
  top: 40px;
  border-radius: 5px;
  overflow-x: auto;
  font-size: min(4vw, 16px);
}

.table {
  width: 99%;
  max-width: 99%;
  word-wrap: break-word;
  white-space: nowrap;
}

.table.table-sm th,
.table.table-sm td {
  padding: 0.2rem;
}

.table.table-sm {
  font-size: 0.80rem;
}
