/* Estilo geral da sidebar */
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 42px;
  left: 0;
  background-color: #2e4055fb;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.3s ease;
}


.sidebar .nav-item {
  position: relative;
  margin-bottom: 10px;
}

.sidebar .nav-link {
  display: block;
  padding: 12px 20px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar .nav-link:hover {
  background-color: #878f97a9;
  color: white;
}

/* Submenu */

.sidebar .submenu .dropdown {
  display: none;
  padding-left: 20px;
  list-style-type: none;
  margin-top: 5px;
}


.sidebar .submenu:hover .dropdown {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

.sidebar .submenu > a::after {
  content: " ▶";
  font-size: 8px;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.sidebar .submenu:hover > a::after {
  content: " ▼";
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidebar .item-img img {
  width: 80%;
  margin: 20px auto;
  display: block;
  transition: transform 0.3s ease;
}

.sidebar .item-img:hover img {
  transform: scale(1.1);
}

.sidebar .nav-item .active {
  background-color: #0056b3;
  color: white;
}

.sidebar .nav-item:hover {
  background-color: #1e2b382d;
  transform: translateX(5px);
  transition: transform 0.2s ease-in-out;
}


.sidebar ul, .sidebar li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar .submenu .dropdown {
  list-style-type: none;
  padding-left: 0;
}
