.table-responsive {
  table {
    font-size: 0.7rem; // Ajusta o tamanho do texto na tabela
    border-collapse: collapse;

    th,
    td {
      padding: 0.1rem; // Reduz o espaçamento interno das células
      text-align: left;
      vertical-align: middle; // Centraliza o conteúdo verticalmente
    }

    th {
      background-color: #f8f9fa; // Estilo claro para o cabeçalho
      font-weight: 600; // Deixa o texto do cabeçalho mais destacado
    }

    td {
      white-space: nowrap; // Evita quebra de linha
      overflow: hidden;
      text-overflow: ellipsis; // Adiciona reticências para texto longo
      text-align: center;
    }

    .table-secondary {
      background-color: #e9ecef !important; // Ajusta o fundo do cabeçalho para consistência
    }
  }

  // Estilo para os botões dentro da tabela
  button {
    font-size: 0.75rem; // Botões menores
    padding: 0.25rem 0.5rem; // Ajusta o espaçamento interno dos botões
    line-height: 1; // Mantém o texto centralizado
  }
}
